#user-list-table tr.user-row:hover {
    background-color: #EEE;
    cursor: pointer;
}

#user-list-table tr.details {
    font-size: 1.5rem;
}

#user-list-table tr.details .preloader {
    display: block;
    width: 65px;
    height: 65px;
    background: url(../img/preloader.gif);
    background-repeat: no-repeat;
    margin: 10px auto;
}

#user-list-table tr.user-row:hover td {
    text-decoration: underline;
}